[package]
name = "anime-game-core"
version = "1.6.2"
authors = ["Nikita Podvirnyy <suimin.tu.mu.ga.mi@gmail.com>"]
license = "GPL-3.0"
readme = "README.md"
edition = "2021"

[dependencies]
minreq = { version = "2.7.0", features = ["json-using-serde", "https-rustls-probe"] }
dns-lookup = "1.0.8"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

fs_extra = "1.3.0"
cached = { version = "0.43", features = ["proc_macro"] }

anyhow = { version = "1.0", features = ["backtrace"] }
thiserror = "1.0"
tracing = "0.1"

# Install feature
sysinfo = { version = "0.28", optional = true }
zip = { version = "0.6", optional = true }
tar = { version = "0.4", optional = true }
# sevenz-rust = { version = "0.1.1", optional = true }

# Compression types for tar
xz = { version = "0.1", optional = true }
bzip2 = { version = "0.4", optional = true }
flate2 = { version = "1.0", optional = true } # TODO: check https://crates.io/crates/zune-inflate

# Linux patch feature
md-5 = { version = "0.10", features = ["asm"], optional = true }

# External feature
kinda-virtual-fs = { version = "0.1.1", optional = true }
lazy_static = { version = "1.4.0", optional = true }

[features]
genshin = []
honkai = []

install = ["external", "dep:sysinfo", "dep:zip", "dep:tar", "dep:xz", "dep:bzip2", "dep:flate2"] # "dep:sevenz-rust"
linux-patch = ["dep:md-5"]
external = ["dep:kinda-virtual-fs", "dep:lazy_static"]

all = ["install", "linux-patch", "external"]
